<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <title>게시판</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>
    <form th:object="${postSearch}" method="get" class="form-inline">
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{writerId}" class="form-control" placeholder="작성자"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary mb-2">검색</button>
            </div>
            <div class="col"></div>
            <div class="col">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            onclick="location.href='addPostForm.html'"
                            th:onclick="|location.href='@{/posts/add}'|"
                            type="button">작성
                    </button>
                </div>
            </div>
        </div>
    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>게시일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td>
                    <a href="post.html" th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">
                        제목
                    </a>
                </td>
                <td>
                    <a href="post.html" th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.writerId}">
                        작성자
                    </a>
                </td>
                <td>
                    <p th:text="${#temporals.format(post.postDate, 'yyyy/MM/dd')}">
                        게시일
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>