<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <title>포스팅</title>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시글</h2>
    </div>

    <h2 th:if="${param.status}" th:text="'저장 완료!'"></h2>

    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="form-control"
               value="제목" th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="writerId">작성자</label>
        <input type="text" id="writerId" name="writerId" class="form-control"
               value="작성자" th:value="${post.loginId}" readonly>
    </div>
    <div>
        <label for="content">내용</label>
        <input type="text" id="content" name="content" class="form-control"
               value="내용" th:value="${post.content}" readonly>
    </div>
    <div>
        <label for="date">게시일</label>
        <input type="text" id="date" name="date" class="form-control"
               value="게시일" th:value="${post.postDate}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editPostForm.html'"
                    th:onclick="|location.href='@{/posts/{id}/edit(id=${post.postId})}'|"
                    type="button">수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='posts.html'"
                    th:onclick="|location.href='@{/posts}'|"
                    type="button">목록
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-warning btn-lg"
                    onclick="location.href='/delete'"
                    th:onclick="|location.href='@{posts/{postId}/delete(postId=${post.postId})}'|"
                    type="button">삭제
            </button>
        </div>
    </div>
</div>
</body>
</html>