<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <title>회원</title>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>유저 페이지</h2>
    </div>

    <h2 th:if="${param.status}" th:text="'저장 완료!'"></h2>

    <div>
        <label for="loginId">회원ID</label>
        <input type="text" id="loginId" name="loginId" class="form-control"
               value="1" th:value="${user.loginId}" readonly>
    </div>
    <div>
        <label for="name">회원명</label>
        <input type="text" id="name" name="name" class="form-control"
               value="1" th:value="${user.name}" readonly>
    </div>
    <div>
        <label for="email">이메일</label>
        <input type="text" id="email" name="email" class="form-control"
               value="1" th:value="${user.email}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editUserForm.html'"
                    th:onclick="|location.href='@{/users/{id}/edit(id=${user.id})}'|"
                    type="button">정보 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='users.html'"
                    th:onclick="|location.href='@{/users}'|"
                    type="button">회원 목록
            </button>
        </div>
    </div>
</div>
</body>
</html>